[submodule "braillest-books/The-Iliad-by-Homer"]
	path = braillest-books/The-Iliad-by-Homer
	url = https://github.com/Braillest-Books/The-Iliad-by-Homer.git
[submodule "braillest-books/Frankenstein-Or-The-Modern-Prometheus-by-Mary-Wollstonecraft-Shelley"]
	path = braillest-books/Frankenstein-Or-The-Modern-Prometheus-by-Mary-Wollstonecraft-Shelley
	url = https://github.com/Braillest-Books/Frankenstein-Or-The-Modern-Prometheus-by-Mary-Wollstonecraft-Shelley.git
[submodule "braillest-books/Dracula-by-Bram-Stoker"]
	path = braillest-books/Dracula-by-Bram-Stoker
	url = https://github.com/Braillest-Books/Dracula-by-Bram-Stoker
[submodule "braillest-books/Middlemarch-by-George-Eliot"]
	path = braillest-books/Middlemarch-by-George-Eliot
	url = https://github.com/Braillest-Books/Middlemarch-by-George-Eliot
[submodule "braillest-books/Reminiscences-of-a-Stock-Operator-by-Edwin-Lefevre"]
	path = braillest-books/Reminiscences-of-a-Stock-Operator-by-Edwin-Lefevre
	url = https://github.com/Braillest-Books/Reminiscences-of-a-Stock-Operator-by-Edwin-Lefevre.git
[submodule "braillest-books/The-Great-Gatsby-by-F-Scott-Fitzgerald"]
	path = braillest-books/The-Great-Gatsby-by-F-Scott-Fitzgerald
	url = https://github.com/Braillest-Books/The-Great-Gatsby-by-F-Scott-Fitzgerald.git
[submodule "braillest-books/Moby-Dick-Or-The-Whale-by-Herman-Melville"]
	path = braillest-books/Moby-Dick-Or-The-Whale-by-Herman-Melville
	url = https://github.com/Braillest-Books/Moby-Dick-Or-The-Whale-by-Herman-Melville.git
[submodule "braillest-books/Pride-and-Prejudice-by-Jane-Austen"]
	path = braillest-books/Pride-and-Prejudice-by-Jane-Austen
	url = https://github.com/Braillest-Books/Pride-and-Prejudice-by-Jane-Austen.git
[submodule "braillest-books/The-Strange-Case-of-Dr-Jekyll-and-Mr-Hyde-by-Robert-Louis-Stevenson"]
	path = braillest-books/The-Strange-Case-of-Dr-Jekyll-and-Mr-Hyde-by-Robert-Louis-Stevenson
	url = https://github.com/Braillest-Books/The-Strange-Case-of-Dr-Jekyll-and-Mr-Hyde-by-Robert-Louis-Stevenson.git
[submodule "braillest-books/Alices-Adventures-in-Wonderland-by-Lewis-Carroll"]
	path = braillest-books/Alices-Adventures-in-Wonderland-by-Lewis-Carroll
	url = https://github.com/Braillest-Books/Alices-Adventures-in-Wonderland-by-Lewis-Carroll.git
[submodule "braillest-books/A-Room-with-a-View-by-E-M-Forster"]
	path = braillest-books/A-Room-with-a-View-by-E-M-Forster
	url = https://github.com/Braillest-Books/A-Room-with-a-View-by-E-M-Forster.git
[submodule "braillest-books/Crime-and-Punishment-by-Fyodor-Dostoyevsky"]
	path = braillest-books/Crime-and-Punishment-by-Fyodor-Dostoyevsky
	url = https://github.com/Braillest-Books/Crime-and-Punishment-by-Fyodor-Dostoyevsky.git
[submodule "braillest-books/The-Blue-Castle-by-L-M-Montgomery"]
	path = braillest-books/The-Blue-Castle-by-L-M-Montgomery
	url = https://github.com/Braillest-Books/The-Blue-Castle-by-L-M-Montgomery.git
[submodule "braillest-books/The-King-in-Yellow-by-Robert-W-Chambers"]
	path = braillest-books/The-King-in-Yellow-by-Robert-W-Chambers
	url = https://github.com/Braillest-Books/The-King-in-Yellow-by-Robert-W-Chambers.git
[submodule "braillest-books/Little-Women-by-Louisa-May-Alcott"]
	path = braillest-books/Little-Women-by-Louisa-May-Alcott
	url = https://github.com/Braillest-Books/Little-Women-by-Louisa-May-Alcott.git
[submodule "braillest-books/A-Tale-of-Two-Cities-by-Charles-Dickens"]
	path = braillest-books/A-Tale-of-Two-Cities-by-Charles-Dickens
	url = https://github.com/Braillest-Books/A-Tale-of-Two-Cities-by-Charles-Dickens.git
[submodule "braillest-books/A-Modest-Proposal-by-Jonathan-Swift"]
	path = braillest-books/A-Modest-Proposal-by-Jonathan-Swift
	url = https://github.com/Braillest-Books/A-Modest-Proposal-by-Jonathan-Swift.git
[submodule "braillest-books/Adventures-of-Huckleberry-Finn-by-Mark-Twain"]
	path = braillest-books/Adventures-of-Huckleberry-Finn-by-Mark-Twain
	url = https://github.com/Braillest-Books/Adventures-of-Huckleberry-Finn-by-Mark-Twain.git
[submodule "braillest-books/Great-Expectations-by-Charles-Dickens"]
	path = braillest-books/Great-Expectations-by-Charles-Dickens
	url = https://github.com/Braillest-Books/Great-Expectations-by-Charles-Dickens.git
[submodule "braillest-books/Meditations-by-Marcus-Aurelius"]
	path = braillest-books/Meditations-by-Marcus-Aurelius
	url = https://github.com/Braillest-Books/Meditations-by-Marcus-Aurelius.git
[submodule "braillest-books/Metamorphosis-by-Franz-Kafka"]
	path = braillest-books/Metamorphosis-by-Franz-Kafka
	url = https://github.com/Braillest-Books/Metamorphosis-by-Franz-Kafka.git
[submodule "braillest-books/Anna-Karenina-by-Leo-Tolstoy"]
	path = braillest-books/Anna-Karenina-by-Leo-Tolstoy
	url = https://github.com/Braillest-Books/Anna-Karenina-by-Leo-Tolstoy.git
